<% include layout/site_top.ejs %>

   <div class="account-table" style="color:#E86A32;">
   		<h1>Lista de Cuentas</h1>
	    <table id="account_table" class="display">
		    <thead>
		        <tr>
		            <th>Account Id</th>
		            <th>Player Name</th>
		            <th>Consecutive log days</th>
		            <th>Total log days</th>
		        </tr>
		    </thead>
		    <tbody style="color:black">
		    <% allacc.forEach(function(account){ %>
	   			 <tr>
			    	<td><%= account._id %></td>
			        <td><%= account.PlayerName %></td>
			        <td><%= account.LogDays %></td>
			        <td><%= account.TotalLogDays %></td>
			     </tr>
			<% }); %>
		    </tbody>
		</table>
	</div>
	<% include layout/site_bot.ejs %>
	<script src="javascripts/datatables.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
		    $('#account_table').DataTable();
		});
	</script>
</body>
</html>
