<!DOCTYPE html>
<html lang="en">
<head>
	<% include layout/head.ejs %>
</head>
<body>
   <h1></h1>
    <p>Welcome to <%= allacc[0].PlayerName %> </p>


<footer>
	<% include layout/footer.ejs %>   
</footer>  
</body>
</html>
