

    <meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

    <title>Inaba Server</title>

    <link rel="stylesheet" href="/stylesheets/datatables.min.css" >
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/demo.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/component.css" />
	<script src="javascripts/modernizr.custom.25376.js"></script>
    <link rel='stylesheet' href='/stylesheets/jquery-ui.min.css' />

    
