					</div><!-- /main -->
				</div><!-- wrapper -->
			</div><!-- /container -->
			<nav class="outer-nav right vertical"><!--aca van las opciones-->
				<a href="/gacha_creator">Gacha Creator</a>
				<a href="/gacha_list">Gacha List</a>
				<a href="/character_creator">Character Creator</a>
				<a href="/allAccounts">Account List</a>
				<a href="/enemy_creator">Enemy Creator</a>
				<a href="/dungeon_creator">Dungeon Creator</a>
				
			</nav>
		</div><!-- /perspective -->
<% include footer.ejs %>
	</body>
</html>