<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<% include head.ejs %>
</head>
<body>
        <div id="perspective" class="perspective effect-moveleft">
			<div class="container main-background">
				<div class="wrapper"><!-- wrapper needed for scroll -->
			        	<div class="clearfix">
							<div>
			            		<p><button class="menu-button" id="showMenu">Menu</button></p>
			            	</div>
            	